
  <div class="">
     <h2 class="text-center head">Add New Blog</h2>
    <form #blogform="ngForm" ngNativeValidate>
    <div class="form-group">
      <label for="title">Title:</label>
      <input type="text" class="form-control" required ngModel id="title" placeholder="Enter Title" name="title">
    </div>
    <div class="form-group">
      <label for="des">Description:</label>
      <input type="text" class="form-control" required ngModel id="des" placeholder="Enter Description" name="description" >
    </div>
    <button  (click)="blogData(blogform)" type="submit" class="btn btn-primary">Save</button>
    <!-- <ng-template #elseblock>
       <button type="submit" (click)="editData(blogform)" class="btn btn-success">Update</button>
       <button (click)="cancelUpdate()" class="btn btn-warning">Cancel</button>
    </ng-template> -->
  </form>
  </div>
