<!--The content below is only a placeholder and can be replaced.-->
<div class="container-fluid">
     <h1 class="text-center">
         Welcome to {{ title }}!
     </h1>
  <div class="navbar">
     
     <ul class="nav">
       <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
       <li class="nav-item"><a class="nav-link" routerLink="/about">About</a></li>
       <li class="nav-item"><a class="nav-link" routerLink="/blogs">blogs</a></li>
    </ul>

  </div>
      
  
 <router-outlet></router-outlet>

</div>