  <div class="row">
       <div class="col-md-6" *ngFor="let blog of blogs">           
         <div class="card">
            <!-- <div class="opration">
               <button class="btn btn-success" (click)="getBlog(blog._id)"><i class="fa fa-pencil" aria-hidden="true"></i></button >
               <button class="btn btn-danger" (click)="deleteBlog(blog._id)"><i class="fa fa-trash-o" aria-hidden="true"></i></button>
              </div> -->
            <div class="card-body">
              <h3 class="card-title"><a routerLink='/blogs/{{blog._id}}'>{{blog.title}}</a></h3>
               <p class="card-text">{{blog.description}}</p>
            </div>
          </div>
      </div>
  </div>